@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");


.h1-administration{
  display: flex;
  justify-content: center;
  text-align: center;
}

.h3-form-add-piano{
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-add-piano{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding-right: 2vw;
  padding-left: 2vw;
}

.form-add-piano > *{
  padding: 15px;
  margin-bottom: 15px;
}

@media(min-width:500px){
  .form-add-piano{
    padding-right: 8vw;
    padding-left: 8vw;
  }
}

@media(min-width:760px){
  .form-add-piano{
    padding-right: 15vw;
    padding-left: 15vw;
  }
}

// mobile => 300/400px

//ipad => 760px

//destop => 1000px
