<p>admin works!</p>
<h1 class="h1-administration"> Administration </h1>
<br>
<h3 class="h3-form-add-piano"> Formulaire d'ajout d'un piano</h3>
<br>
<br>
  <form class="form-add-piano"(ngSubmit)="onSubmit()">
    <input type="text" placeholder="name" name="name" [(ngModel)]= "name">
    <input type="number" placeholder="price" name="price" [(ngModel)] = "price">
    <input type="text" placeholder="brand" name ="brand" [(ngModel)] = "brand">
    <input type="text" placeholder="color" name="color" [(ngModel)]  = "color">
    <input type="text" placeholder="description" name="description" [(ngModel)] = "description">
    <input type="text" placeholder="photos" name="photos" [(ngModel)] = "photos">
    <button type="submit"> Ajouter le piano</button>
  </form>
