<p>detailpiano works!</p>
<p>{{pianoId}}</p>
<div class="pianos" *ngIf="piano">
  <div class="piano">
    <img class="photo-piano" [src]="piano.photos" alt="photo" />
    <div class="piano-text-description">
      <p>Marque : {{ piano.name }}</p>
      <p>Modèle : {{ piano.brand }}</p>
      <hr class="hr-piano" />
      <p id="price-piano">Prix: {{ piano.price }} € TTC</p>
      <br />
    </div>
  </div>
  <div class="detail-piano-text">
  </div>
</div>
<div class="text-description-detail-piano" *ngIf="piano">
  <div class="h3-and-know-more-detail">
    <h3 class="h3-detail-piano"> A propos de ce piano </h3>
    <div class="know-more-detail">
    </div>
  </div>
  <hr>
  <p>{{ piano.description }}</p>
</div>
