.pianos {
  display: flex;
  justify-content: center;
}

.photo-piano {
  height: 50%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  background-color: red;
  object-fit: fill;
}

.piano {
  border: 0.5px solid gray;
  border-radius: 8px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: center;
  height: 360px;
  transition: all 0.2s;
  text-decoration: none;
  color: black;
}
.piano:hover {
  box-shadow: -3px 3px 5px rgba($color: #000000, $alpha: 0.3);
}

.hr-piano {
  width: 70%;
  color: gray;
  opacity: 0.7;
}

.piano-text-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#price-piano {
  color: orangered;
}

.navbar-piano{
  height: 120px;
  background-color: black;
  border-radius: 8px;
  color: white;
  display:grid;
  grid-auto-flow: column;
  gap: 2px;
  align-items: center;
}

.piano-shop-france{
  margin-left: 50px;
}

.seachbar-piano{
  margin-right: 20px;
}

.know-more-detail{
  width: 1px;
  height: 50px;
  background-color: black;
  margin-left: 12px;
}

.h3-and-know-more-detail{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
// @media (min-width: 750px) {...}
// @media (max-width: 710px) {...}
